@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  @apply dark:bg-neutral-900 dark:text-neutral-200;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@mixin btn() {
  @apply px-4 py-1;
  @apply mx-1;
  @apply rounded-md;
  @apply text-sm font-semibold;

  &[disabled] {
    @apply opacity-25;
  }
}

.on-btn {
  @include btn();
  @apply bg-neutral-500 dark:bg-neutral-700 text-white dark:text-neutral-50;
  @apply appearance-none;
}

.off-btn {
  @include btn();
  @apply bg-neutral-500 dark:bg-neutral-700 text-white dark:text-neutral-50;
}
